In [10]:
foo = 1
print foo /2

0.5

In [3]:
foo = 'string '
''' df;asdlfjkijeflj " ' " ' '''

' df;asdlfjkijeflj " \' " \' '

In [4]:
print foo

string

In [13]:
foo = []
foo = ['first',0,1,2,3,4]
print foo[0]

first

In [15]:
a_foo = [121232]

In [17]:
foo = {'a':[1,2]}

In [24]:
foo = [1,2,3]
boo= tuple(foo)

In [14]:
from __future__ import division

In [31]:
foo[2]= 'sometjitn'

In [33]:
count = 1
while count < 10:
    print count
    count +=1

1
2
3
4
5
6
7
8
9

In [43]:
var_a = 'outside'

In [52]:
def foo(bar):
    print var_a
    print bar
    bar.append('newinstance')
    print num

In [56]:
bar = ['adf']
print bar

['adf']

In [57]:
print foo('tset')

outside
['adf']
tset
None

In [59]:
print bar

['adf', 'newinstance']

In [72]:
import pandas as pd
A = pd.DataFrame(['a'], index=[0],columns=['value'])
A

  value
0     a

In [73]:
B = A.copy()
B

  value
0     a

In [74]:
B.iloc[0]='new'

In [75]:
B

  value
0   new

In [76]:
A

  value
0     a